<head itemscope itemtype="{{ .Site.BaseURL }}">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Title tags -->
  <meta property="og:locale" content="{{ .Language.Lang }}">
  <meta name="language" content="{{ .Language.Lang }}">
  <!-- Title tags -->
  <title itemprop="name">{{ if ne .Permalink "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ if ne .Permalink "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}" />
  <meta name="twitter:title" content="{{ if ne .Permalink "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}" />
  <meta itemprop="name" content="{{ if ne .Permalink "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}" />
  <meta name="application-name" content="{{ .Site.Title }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <!-- Link tags -->
  <base href="{{ .Permalink }}">
  <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
  <meta name="url" content="{{ .Permalink }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <!-- Image tags -->
  {{ with .Params.ogImage }}
    <meta itemprop="image" content="{{ . | absURL }}" />
    <meta property="og:image" content="{{ . | absURL }}" />
    <meta name="twitter:image" content="{{ . | absURL }}" />
    <meta name="twitter:image:src" content="{{ . | absURL }}" />
  {{ else }}
    {{ with .Site.Params.ogImage }}
      <meta itemprop="image" content="{{ . | absURL }}" />
      <meta property="og:image" content="{{ . | absURL }}" />
      <meta name="twitter:image" content="{{ . | absURL }}" />
      <meta name="twitter:image:src" content="{{ . | absURL }}" />
    {{ else }}
      {{ with .Site.Params.cover }}
        <meta itemprop="image" content="{{ . | absURL }}" />
        <meta property="og:image" content="{{ . | absURL }}" />
        <meta name="twitter:image" content="{{ . | absURL }}" />
        <meta name="twitter:image:src" content="{{ . | absURL }}" />
      {{ end }}
    {{ end }}
  {{ end }}
  <meta name="twitter:card" content="summary_large_image" />
  <!-- Description tags -->
  {{ if .IsPage }}
    <meta property="og:type" content="article" />
    <meta itemprop="description" content="{{ .Description | default (substr .Summary 0 160) }}" />
    <meta property="og:description" content="{{ .Description | default (substr .Summary 0 160) }}" />
    <meta name="description" content="{{ .Description | default (substr .Summary 0 160) }}" />
    <meta name="twitter:description" content="{{ .Description | default (substr .Summary 0 160) }}" />
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
    <meta name="twitter:label1" value="Reading time" />
    {{ if eq 1 .ReadingTime }}
      <meta name="twitter:data1" value="{{ .ReadingTime }} minute" />
    {{ else }}
      <meta name="twitter:data1" value="{{ .ReadingTime }} minutes" />
    {{ end }}

    {{ range .Params.tags }}
      <meta property="article:tag" content="{{ . }}" />
    {{ end }}
  {{ else }}
    <meta property="og:type" content="website" />
    <meta itemprop="description" content="{{ .Site.Params.description }}" />
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    <meta name="description" content="{{ .Site.Params.metadescription | default .Site.Params.description }}" />
    <meta name="twitter:description" content="{{ .Site.Params.description }}" />
  {{ end }}

  <meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

  {{ if .Keywords }}
    <meta name="keywords" content="{{ delimit .Keywords "," }}" />
  {{ end }}

  {{ with.Params.author }}
    <meta property="og:article:author" content="{{ . }}" />
    <meta property="article:author" content="{{ . }}" />
    <meta name="author" content="{{ . }}" />
  {{ end }}

  {{ with.Params.twitter }}
    <meta name="twitter:creator" content="{{ . }}" />
  {{ end }}

  {{ hugo.Generator }}

  {{ if .Site.IsServer }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ else }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
  {{ end }}

  {{ if .Site.Params.RelPermalink}}
  <link href="{{ with .OutputFormats.Get "RSS" }} {{ .RelPermalink  }} {{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{else}}
    {{ if ne .Permalink "/" }}
        <link href="{{ "index.xml" | relURL}}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    {{if .IsNode}}
    <link href="{{ with .OutputFormats.Get "RSS" }} {{ .RelPermalink }} {{ end }}" rel="alternate" type="application/rss+xml" title="{{ if ne .RelPermalink "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}" />
    {{end}}
  {{end}}
</head>
