<ul class="w-full flex flex-col lg:flex-row justify-end items-end lg:items-center">
  {{ range .Site.Menus.main.ByWeight }}
    <li class="flex my-2 lg:my-2 mx-1 lg:mx-2">
      <a title="{{ .Name }}" class="uppercase font-bold lg:py-2 lg:px-3 rounded text-sm transition duration-300 ease-in-out" href="{{ .URL }}">{{ .Name }}</a>
    </li>
  {{ end }}
</ul>
