<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
  {{- partial "head.html" . -}}
  <body class="bg-gradient flex flex-col min-h-screen">
    {{- partial "header.html" . -}}
    <main class="flex-1 mt-12 max-w-3xl mx-auto text-gray-700 w-full">
      <article class="article">
        {{ range site.RegularPages.GroupByDate "2006" -}}
        {{ range first 1 .Pages  }}
          {{ humanize .Section }}s
        {{ end }}
        {{ partial "post-summary.html" . }}
        {{ end }}
      </article>
    </main>
    {{- partial "footer.html" . -}}
  </body>
</html>
