{{ $months := slice "January" "Febuary" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December"}}
{{ $year := .Get 0 }}
{{ $hugoRelativeGalleryPath := "" }}
{{ $yearGalleryPath := print "static/images/photoGallery/" $year }}
{{ $hugoRelativeYearGalleryPath := print "images/photoGallery/" $year }}

{{ range readDir $yearGalleryPath }}
  {{ $monthGalleryPath := print $yearGalleryPath "/" .Name }}
  {{ $hugoRelativeMonthGalleryPath := print $hugoRelativeYearGalleryPath "/" .Name }}
  {{ $month := int (.Name| strings.TrimLeft "0") }}
  {{ $month := sub $month 1 }}
  {{ $month := index $months $month }}
  <h3><a name={{print $year $month}}></a> {{ print $month }} </h3>
  {{ range readDir $monthGalleryPath }}
    {{ $imgURL := print $hugoRelativeMonthGalleryPath "/" .Name | absURL }}
    <p><img src="{{ $imgURL }}"/></p>
  {{ end }}
{{ end }}
